
<form class="forms-sample" [formGroup]="formEvent" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputStart">Start datum en tijd*</label>
        <input type="text" class="form-control" placeholder="datetime" formControlName="startDateTime">
        <div *ngIf="formEvent.controls['startDateTime'].invalid && (formEvent.controls['startDateTime'].dirty || formEvent.controls['startDateTime'].touched)" class="alert alert-danger">
            <div *ngIf="formEvent.controls['startDateTime'].errors.required">
                Dit veld is vereist
            </div>
        </div>    
    </div>
    <div class="form-group">
        <label for="exampleInputEnd">Eind datum en tijd*</label>
        <input type="text" class="form-control" placeholder="datetime" formControlName="endDateTime">
        <div *ngIf="formEvent.controls['endDateTime'].invalid && (formEvent.controls['endDateTime'].dirty || formEvent.controls['endDateTime'].touched)" class="alert alert-danger">
            <div *ngIf="formEvent.controls['endDateTime'].errors.required">
                Dit veld is vereist
            </div>
        </div> 
    </div>
    <div class="form-group">
        <label for="exampleInputDescription">Beschrijving*</label>
        <input type="text" class="form-control"autocomplete="off" placeholder="Description" formControlName="description">
        <div *ngIf="formEvent.controls['description'].invalid && (formEvent.controls['description'].dirty || formEvent.controls['description'].touched)" class="alert alert-danger">
            <div *ngIf="formEvent.controls['description'].errors.required">
                Dit veld is vereist
            </div>
        </div> 
    </div>
    <div class="form-check form-check-flat form-check-primary">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="new_customer">
            <i class="input-frame"></i>
            Nieuwe klant? 
        </label> 
    </div>
    <div class="form-group" *ngIf="customer_list" >
        <label for="customer">Klant</label>
        <select class="form-control" formControlName="customer_list" >
          <option selected disabled>Selecteer Klant</option>
          <option>xxx</option>    
        </select>
        <div *ngIf="formEvent.controls['customer_list'].invalid && (formEvent.controls['customer_list'].dirty || formEvent.controls['customer_list'].touched)" class="alert alert-danger">
          <div *ngIf="formEvent.controls['customer_list'].errors.required">
            customer is vereist.
          </div>
        </div>
    </div>
    <div>

    </div>
    <div class="form-group" *ngIf="customer_firstName">
        <label for="Voornaam">Voornaam</label>
        <input type="text" class="form-control" placeholder="voornaam" formControlName="customer_firstName">
    </div>
    <div class="form-group" *ngIf="customer_name">
        <label for="Naam">Naam</label>
        <input type="text" class="form-control" placeholder="datetime" formControlName="customer_name">
    </div>
    <div class="form-group" *ngIf="customer_email" >
        <label for="Email">Email</label>
        <input type="email" class="form-control" placeholder="datetime" formControlName="customer_email">
    </div>
    <div class="form-group" *ngIf="customer_company">
        <label for="Bedrijf">Bedrijf</label>
        <input type="text" class="form-control" placeholder="datetime" formControlName="customer_company">
    </div>

    <div *ngIf="newCustomerShown">
        <form [formGroup]="formCustomer">
            
        </form>
    </div> <!-- [disabled]="formEvent.invalid" bij button als niet valid is, maar past niet aan na aanpassen checkbox-->
    <button type="submit" class="btn btn-primary mr-2" >Submit</button>
</form>