<div class="cont">
    <form class="form sign-in">
      <h2>Welcome back!</h2>
      <section>
        <div class="bsk-container">
          <!--a href="https://api.accretion.be/oauth2/authorization/azure"-->
          <a href="http://localhost/oauth2/authorization/azure">
         <button type="button" class="bsk-btn bsk-btn-default" (click)="submit()">
           <object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon">
           </object>
  
           Sign in with Microsoft</button></a>
       </div>
     </section>
   </form>
  
   <div class="sub-cont">
     <div class="img">
     </div>
   </div>
  
  </div>
  
  
  