<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Overzicht werknemers/klanten (klik om te bewerken)</h6>
          <input type="text" class="form-control" (keyup)="updateFilter($event)" placeholder="filter op naam..." >      
            <ngx-datatable
              #table
              class="bootstrap"
              [rows]="persons"
              [loadingIndicator]="loadingIndicator"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              [limit]="10"
              rowHeight="auto"
              (activate)="onActivate($event)"
            >
            <ngx-datatable-column name="ID">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.personId}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rol">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.role}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Voornaam">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.firstName}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Naam">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.lastName}} 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Gsm">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.gsm}} 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Bedrijf">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.company}} 
              </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
        </div>
      </div>
    </div>
  </div>