<form class="forms-sample" [formGroup]="formPerson" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label>Naam</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label>Voornaam</label>
        <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
        <label>Gsm-nummer</label>
        <input type="number" class="form-control" formControlName="phoneNumber">
    </div>
    <button type="submit" class="btn btn-primary mr-2" >Submit</button>
    <button type="button" class="btn btn-primary mr-2" (click)="deletePerson()" >Delete person</button>
</form>