<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
  <p class="text-muted text-center text-md-left">Copyright © 2021 <a href="https://www.accretion.be" target="_blank">Accretion</a>. All rights reserved</p>
  <p class="text-muted text-center text-md-left mb-0 d-none d-md-block"></p>
  <p ></p>
  <p class="text-muted text-right text-md-right">
    <a href="https://www.facebook.com/AccretionBE/" target="_blank"><i data-feather="facebook" appFeatherIcon></i></a>
    <a href="mailto:info@accretion.be" target="_blank"><i data-feather="mail" appFeatherIcon ></i></a>
    <a href="https://be.linkedin.com/company/accretion-be" target="_blank"ia ><i data-feather="linkedin" appFeatherIcon></i></a>
  </p>
</footer>