<div class="main container">
    <div class="row">
      <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
        <div class="icon">
          <!--        <span class="glyphicon glyphicon-ok"></span>-->
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
          </svg>
        </div>
        <!--/.icon-->
        <h1>Bedankt!</h1>
        <p>Tot binnenkort.
          <br></p>
      </div>
      <!--/.success-->
    </div>
  </div>
  <!--/.container-->
  