<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Overzicht werknemers/klanten (klik om te bewerken)</h6>
          <div class="table-responsive">
            <ngx-datatable
              class="bootstrap"
              [rows]="persons"
              [loadingIndicator]="loadingIndicator"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              [limit]="10"
              rowHeight="auto"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column name="personId">ID</ngx-datatable-column>
              <ngx-datatable-column name="role">Rol</ngx-datatable-column>
              <ngx-datatable-column name="FirstName">Voornaam</ngx-datatable-column>
              <ngx-datatable-column name="lastName">Achternaam</ngx-datatable-column>
              <ngx-datatable-column name="email"></ngx-datatable-column>
              <ngx-datatable-column name="gsm"></ngx-datatable-column>
              <ngx-datatable-column name="company"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>