<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">werknemer/Klant registreren</h4>
          <div class="row">
            <div class="col-sm-12 ">
              <form class="forms-sample" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Naam*</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Naam" >
                  <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['name'].errors.required">
                      Naam is vereist.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstName">Voornaam*</label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Voornaam">
                  <div *ngIf="form.controls['firstName'].invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['firstName'].errors.required">
                      Voornaam is vereist.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email*</label>
                  <input type="email" class="form-control" formControlName="email" autocomplete="off" placeholder="Email">
                  <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['email'].errors.required">Email is vereist. </div>
                    <div *ngIf="form.controls['email'].errors.pattern">Het emailadres moet een correct formaat hebben</div>
  
                  </div>
                </div> 
                <div class="form-group">
                  <label for="phoneNumber">Gsm-nummer*</label>
                  <input type="text" class="form-control" formControlName="phoneNumber" autocomplete="off" placeholder="Gsm-nummer">
                  <div *ngIf="form.controls['phoneNumber'].invalid && (form.controls['phoneNumber'].dirty || form.controls['phoneNumber'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['phoneNumber'].errors.required">
                      Gsm-nummer is vereist.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="role">Rol*</label>
                  <select class="form-control" formControlName="role" [(ngModel)]="selectedRole" >
                    <option selected disabled>Selecteer rol</option>
                    <option value="employee">Werknemer</option>
                    <option value="customer">Klant</option>
                    <option value="admin">Administrator</option>            
                  </select>
                  <div *ngIf="form.controls['role'].invalid && (form.controls['role'].dirty || form.controls['role'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['role'].errors.required">
                      Rol is vereist.
                    </div>  
                  </div>
                </div>
                <div class="form-group" *ngIf="selectedRole == 'customer'">
                  <label for="company">Bedrijf*</label>
                  <input type="text" class="form-control" formControlName="company" id="GsmNummer" autocomplete="off" placeholder="Gsm-nummer">
                  <div *ngIf="form.controls['company'].invalid && (form.controls['company'].dirty || form.controls['company'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['company'].errors.required">
                      Bedrijf is vereist.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Upload profielfoto</label>
                  <input (change)="handleFileInput($event)" type="file" name="img[]" class="file-upload-default" id="fileUploadInputExample">
                  <div class="input-group col-xs-12" (click)="openFileBrowser($event)">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload afbeelding">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                  </div>
                </div> 
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <table dataTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Rol</th>
                  <th>Voornqq;</th>
                  <th>Achternaam</th>
                  <th>Email</th>
                  <th>GSM</th>
                  <th>Bedrijf</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons">
                  <td>{{ person.personId }}</td>
                  <td>{{ person.role }}</td>
                  <td>{{ person.firstName }}</td>
                  <td>{{ person.lastName }}</td>
                  <td>{{ person.email }}</td>
                  <td>{{ person.gsm }}</td>
                  <td>{{ person.company }}</td>
                  <td><button (click)="onEditClicked(person)" nbButton [size]="small">Wijzig</button></td>
                  <td><button (click)="openDeleteWindow(contentTemplate, person)" nbButton [size]="small">Delete</button></td>
                </tr>
                </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>